<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.UsuarioMapper">
    <select parameterType="map" id="getUsuario" resultMap="UsuarioResult">
        select email,nombre FROM USUARIOS where email=#{emailu} 
    </select>	   
    
    <insert parameterType="map" id="insertarUsuario" >
        insert into USUARIOS values(#{ue},#{un}) 
    </insert>	

    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='email' column='email'/>
        <result property='nombre' column='nombre'/>       
    </resultMap>
          	
</mapper>